<ion-content>
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img  src="../../assets/icon/LogoMonster.png">
      <h1 class="titulo">NODAPT</h1>
    </div>
    <!-- Titulos -->
    <h1 class="titulo">Iniciar sesión</h1>
    
    <p class="sub-titulo">Inicia sesion para continuar.</p>
    <!-- Usuario -->
    <div class="input-field">
      <input type="text" required spellcheck="false">
      <label>Usuario</label>
    </div>
    <!-- Contraseña -->
    <div class="input-field">
      <input type="password" required spellcheck="false">
      <label>Contraseña</label>
    </div>
    
    <!-- <div class="link-simple">
      <a [routerLink]="['/forgot-pass']">¿Olvidaste tu contraseña?</a>
    </div> -->
    <button [routerLink]="['/ventas']" class="btn btn-dark-monster">Iniciar sesión</button>
    
  </div>
</ion-content>


<!-- <ion-content [fullscreen]="true">  
  <div class="container">
    <div class="logo">
      <img  src="../../assets/icon/LogoMonster.png"  srcset="">
    </div>
    <h1 class="titulo">Inicio sesión</h1>
    
    <div class="input-field">
      <label>Usuario</label>
      <input type="text">
    </div>

    
    <div class="input-field">
      <label>Contraseña</label>
      <input type="password">
    </div>
    <button class="btn btn-green" [routerLink]="['/sign-in']">Iniciar sesión</button>
  </div>
</ion-content> -->
