<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial de venta-pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1 class="titulo">Detalle transacciones</h1>
    <h1 class="sub-titulo">Se visualizan las ultimas ventas y pagos producidos</h1>
    
    <ion-card *ngFor='let transaccion of transacciones' [ngClass]="{'transaccion-venta': transaccion.Tipo === 'VENTA', 'transaccion-pago': transaccion.Tipo === 'PAGO'}">
      <ion-card-header>
        <ion-card-title>{{transaccion.Tipo}} - {{transaccion.Cliente}}</ion-card-title>
        <ion-card-subtitle>{{transaccion.Fecha}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Cantidad</ion-col>
            <ion-col>Producto</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{transaccion.Cantidad}}</ion-col>
            <ion-col>{{transaccion.Producto}}</ion-col>
            <ion-col>{{transaccion.Valor}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
