<ion-menu side="start" menuId="menuPrincipal" contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/ventas']"><ion-icon name="card" slot="start"></ion-icon>Ventas</ion-item>
      <ion-item [routerLink]="['/clientes']"><ion-icon name="card" slot="start"></ion-icon>Clientes</ion-item>
      <ion-item [routerLink]="['/inventario']"><ion-icon name="card" slot="start"></ion-icon>Inventario</ion-item>
      <!-- <ion-item [routerLink]="['/sign-in']"><ion-icon name="card" slot="start"></ion-icon>Salir</ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>
