<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h1 class="titulo">Detalles de Cliente</h1>
    <!-- Usuario -->    
    <ion-card *ngFor='let cliente of clientes'>
      <ion-card-header >
        <ion-card-title>{{cliente.Nombre}}</ion-card-title>
        <ion-card-subtitle>Deuda: {{cliente.Deuda}}</ion-card-subtitle>
        <div>
          <ion-card-subtitle>Monsters: 00</ion-card-subtitle>
          <ion-card-subtitle>Gatorade: 00</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button [routerLink]="['/add-pago']" class="btn btn-monster">Pagar Deuda</button>
  </ion-toolbar>
</ion-footer>

<!-- <div class="input-field">
  <input type="text"  spellcheck="false" value="Benjamin">
  <label>Nombres</label>
</div>
<div class="input-field">
  <input type="text"  spellcheck="false" value="Gonzalez">
  <label>Apellidos</label>
</div>

<div class="input-field">
  <input type="number"  spellcheck="false" value="3">
  <label>Cantidad de Monster</label>
</div>
<div class="input-field">
  <input type="number"  spellcheck="false" value="5">
  <label>Cantidad de Gatorade</label>
</div>
<div class="input-field">
  <input type="text"  spellcheck="false" value="$100.000" style="border-color: red; color: red;">
  <label style="color: red;">Monto en deuda</label>
</div> -->
