<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h1 class="titulo">Detalles de Cliente</h1>
    <!-- Usuario -->    
    <ion-card *ngFor='let cliente of clientesProductos'>
      <ion-card-header >
        <ion-card-title>{{cliente.Cliente}}</ion-card-title>
        <ion-card-subtitle>Deuda: {{cliente.Deuda}}</ion-card-subtitle>
        <div>
          <ion-card-subtitle>Monsters: {{cliente.prestamoMonster}}</ion-card-subtitle>
          <ion-card-subtitle>Gatorade: {{cliente.prestamoGatorade}}</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    <h1 class="sub-titulo">Ultimas transacciones</h1>
    <b></b>


    <ion-card *ngFor='let transaccion of transacciones' [ngClass]="{'transaccion-venta': transaccion.Tipo === 'VENTA', 'transaccion-pago': transaccion.Tipo === 'PAGO'}">
      <ion-card-header>
        <ion-card-title>{{transaccion.Tipo}}</ion-card-title>
        <ion-card-subtitle>{{transaccion.Fecha}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Cantidad</ion-col>
            <ion-col>Producto</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{transaccion.Cantidad}}</ion-col>
            <ion-col>{{transaccion.Producto}}</ion-col>
            <ion-col>{{transaccion.Valor}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <!-- <ion-card class="transaccion-pago">
      <ion-card-header>
        <ion-card-title>Pago</ion-card-title>
        <ion-card-subtitle>11/01/2025</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Cantidad</ion-col>
            <ion-col>Producto</ion-col>
            <ion-col>Precio</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>1</ion-col>
            <ion-col>Monster</ion-col>
            <ion-col>1700</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> -->

  </div>
</ion-content>
<ion-footer>
</ion-footer>

