.container{
    position: absolute;
    left: 15px;
    right: 15px;
    // top:10%;
}
.transaccion-venta{
    border: 2px #ec9e0e solid;
    border-radius: 10%;
}
.transaccion-pago{
    border: 2px #95D600 solid;
    border-radius: 10%;
}