.container{
    position: absolute;
    left: 15px;
    right: 15px;
}
.btn-monster-selected {
    border: white 3px solid !important;
  }
  
  .btn-gatorade-selected {
    border: white 3px solid !important;

  }
  
  