<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h1 class="titulo">Registro de Cliente</h1>
    <!-- Usuario -->
    <div class="input-field">
      <input type="text" [(ngModel)]="nombre" required spellcheck="false">
      <label>Nombre</label>
    </div>
    <!-- Usuario -->
    <div class="input-field">
      <input type="text" [(ngModel)]="apellido" required spellcheck="false">
      <label>Apellido</label>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="btn btn-monster" (click)="agregarCliente()">Agregar Cliente</button>
  </ion-toolbar>
</ion-footer>

