<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button color="success" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
      <ion-list [inset]="true" lines="none">
        <ion-item>
          <button class="btn btn-monster" [routerLink]="['/ventas']">Venta</button>
        </ion-item>
        <ion-item>
          <button class="btn btn-monster" [routerLink]="['/clientes']">Cliente</button>
        </ion-item>
        <ion-item>
          <button class="btn btn-monster" [routerLink]="['/inventario']" >Inventario</button>
        </ion-item>
        <ion-item>
          <button class="btn btn-monster">Historial ventas</button>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
