<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h1 class="titulo">Pago de Deudas</h1>
    <h3 class="">Detalles Cliente</h3>
    <!-- Usuario -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nombre Apellido</ion-card-title>
        <ion-card-subtitle>Deuda: 0000</ion-card-subtitle>
        <ion-card-subtitle>Monsters: 00</ion-card-subtitle>
        <ion-card-subtitle>Gatorade: 00</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <h3>Ingrese monto a pagar</h3>
    <br>
    <!-- Usuario -->
    <div class="input-field">
      <input type="text"  spellcheck="false">
      <label>Monto a pagar</label>
    </div>
    <div class="input-field">
      <input type="text"  spellcheck="false">
      <label>Cantidad de producto a pagar</label>
    </div>
    <ion-list [inset]="true">
      <ion-item>
        <button class="btn btn-monster">Monster</button> <button class="btn btn-gatorade">Gatorade</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="btn btn-monster">Pagar Deuda</button>
  </ion-toolbar>
</ion-footer>

