<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="titulo">Nuevo producto</h1>
    <h1 class="sub-titulo">Seleccione el produto nuevo y agregue la cantidad</h1>
    <ion-list [inset]="true" lines="none">
      <ion-item>
        <button class="btn btn-monster" [class.btn-monster-selected]="idProducto === 1" (click)='productoSeleccionado(1)'>Monster</button>
      </ion-item>
      <ion-item>
        <button class="btn btn-gatorade" [class.btn-monster-selected]="idProducto === 2" (click)='productoSeleccionado(2)'>Gatorade</button>
      </ion-item>
        
    </ion-list>
  <!-- Usuario -->
      <div class="input-field">
        <input type="number" [(ngModel)]="cantidad" required spellcheck="false">
        <label>Cantidad</label>
      </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="btn btn-monster" (click)="agregarProducto()">Agregar Producto</button>
  </ion-toolbar>
</ion-footer>
